<div class="page-title">
	<div class="container">
	  <div class="column">
	    <h1>Insurance</h1>
	  </div>
	</div>
</div>
<div class="container padding-bottom-2x mb-2">
	<div class="row align-items-center padding-bottom-2x">
	  <div class="col-md-5"><img class="d-block w-270 m-auto" src="assets/img/features/01.jpg" alt="Online Shopping"></div>
	  <div class="col-md-7 text-md-left text-center">
	    <div class="mt-30 hidden-md-up"></div>
	    <h2>Bla Bla Bla..</h2>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit. Aenean dolor dolor, tristique nec placerat nec.</p><a class="text-medium text-decoration-none" href="shop-grid-ls.html">View Products&nbsp;<i class="icon-arrow-right"></i></a>
	  </div>
	</div>
</div>
